@model MvcChallenge2016.Models.BookListModel

@{
    ViewBag.Title = "BookList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" id="EditBookUrl" value="@Url.Action("Edit","Default")"/>

<h2>BookList</h2>
<script type="text/javascript" src="~/Scripts/BookProcessing.js"></script>

<div id="indexView">
    @{
        //I have no idea why this is the ONLY way to make Model work, but whatever
        Html.RenderPartial("Index", Model);
    }
</div>
<div id="editView" style="display:none;">

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
